.creators {
    height: 200px;
}

.creator {
    color: #fff;
}

.creatormenu1, .creatormenu2 {
    float: left;
    border: 1px solid #fff;
    width: 45%;
    text-align: center;
    margin-left: 40px;
}

.names {
    color: #fff;
    font-size: 25px;
}

.web, .webref {
    color: #fff;
    font-size: 15px;
}

.webref:hover {
    color: #ff0000;
}

.creatormenu1 img, .creatormenu2 img {
    border-radius: 25px;
    width: 150px;
    height: 200px;
}