.creator {
    color: #fff;
}

.creatormenu1, .creatormenu2 {
    float: left;
    border: 2px solid #fff;
    width: 50%;
    text-align: center;
}

.names {
    color: #fff;
}

.web, .webref {
    color: #fff;
    font-size: 15px;
}