.creator {
    color: #fff;
}

.creatormenu1, .creatormenu2 {
    float: left;
}

.creatormenu1 {
    padding-left: 8%;
    padding-right: 50%;
}

#name1 {
    text-align: left;
}

#name2 {
    text-align: right;
}